import React, { FC } from "react";

interface {{name}}Props {

}

const {{name}}: FC<{{name}}Props> = (props) => {
    return (
        <div>
            This is the {{name}} component!
        </div>
    );
};

export default {{name}};